<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Speedtest</strong> Settings
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

            <!-- Shedule -->

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select">Speedtest Schedule</label>
              <div class="col-md-9">
                <select id="select" name="select" class="form-control">
                    <option value="0">Disabled</option>
                    <option value="1">Every 1 Hour</option>
                    <option value="2">Every 2 Hours</option>
                    <option value="6">Every 6 Hours</option>
                    <option value="12">Every 12 Hours</option>
                    <option value="24">Every 24 Hours</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select">Purge Data Every</label>
                <div class="col-md-9">
                  <select id="select" name="select" class="form-control">
                      <option value="0">Disabled</option>
                      <option value="1">Every 1 Days</option>
                      <option value="7">Every 7 Days</option>
                      <option value="15">Every 15 Days</option>
                      <option value="30">Every 1 Month</option>
                      <option value="90">Every 3 Months </option>
                      <option value="120">Every 6 Months</option>
                  </select>
                </div>
              </div>

            <!-- Schedule -->


        </form>
      </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
      
    </div>
   
  </div><!--/.row-->
  
</div>
